<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update todo</title>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/ui/updateTodo}" th:object="${todo}" method="post">
    <p>Id: <input type="text" readonly="true" th:field="*{id}"/></p>
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Description: <input type="text" th:field="*{description}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>